
.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;

  }
  
  .lists {
    width: auto;
    height: auto;
    margin: 10px;
    

  }
  .list button{
    width: 30%;
    margin: 5px;
    font-size: 10px;
  }
  img {
    width: 200px;
    height: 200px;
  }